h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    font-size: 1.5rem;
    line-height: calc(2 / 1.5);
}

button {
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: transparent;
    font-size: 1.125rem;
    line-height: calc(1.5 / 1.125);
    cursor: pointer;
    transition: ease 0.2s;
}

i {
    width: calc(0.25rem * 5);
    height: calc(0.25rem * 5);
    margin-right: 4px;
    font-size: 1.5rem;
    margin: auto 0;
}

.container {
    background-color: #f0f0f0;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 42rem;
    margin: 0 auto;
}

header .scores {
    display: flex;
    gap: 20px;
}

header .scores>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .scores>div h3 {
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    color: gray;
}

header .scores>div span {
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.25);
}

header .scores>div span#score {
    color: green;
}

header .scores>div span#high-score {
    color: blue;
}

/* game */
.game {
    max-width: 42rem;
    margin: 20px auto;
    padding: 20px 0;
    background-color: #e0e0e0;
    position: relative;
}

.game>canvas {
    display: block;
    border: 1px solid black;
    margin: 0 auto;
}

.game #message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(99, 99, 99, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.game #message h2,
.game #message p {
    color: white;
}

.game #message button {
    background-color: green;
    color: white;
    border-color: green;
}

.game #message button:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}



.container>.game>canvas {
    background-color: white;
}

.container>.info .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container>.info .buttons>button {
    padding: 8px;
    border: 1px solid #0152e9;
    border-radius: 7px;
    background-color: #0152e9;
    color: white;
}